<!DOCTYPE html>
<html>
  <script src="/jquery.js"></script>
  <script src="/script.js"></script>
  <link rel="stylesheet" type="text/css" href="./../style.css">
<head>
  <title>unteer2</title>
</head>
<body>
  <div class="search_nav">
      <form action="/search" class="search" method="POST">
          <input type="text" class="form-control" placeholder="Keyword" name="q">
          <button id="btn_info" type="submit" action="submit">Search</button>
      </form>
  </div>

<div id="custom-results">
  {{#list}}
  <h1>{{jobtitle}}</h1>
  <h2>{{company}}</h2>
  <p>{{description}}</p>
  {{/list}}
</div>

</body>
</html>
